# ZEGOCLOUD Credentials — NUNCA exponer en frontend
ZEGOCLOUD_APP_ID=377576855
ZEGOCLOUD_SERVER_SECRET=86c4874a72ff45007da20a0b913ac0b2

# Servidor
NODE_ENV=development
PORT=3001

# URL frontend permitida en CORS
FRONTEND_URL=http://localhost:5173
# En producción cambiar a:
# FRONTEND_URL=https://TUDOMINIO.COM
